<!DOCTYPE HTML>
<html xmlns= "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/layout">
<div layout:fragment="content">
    <th:block>
        <style>

        </style>
    </th:block>

    <div id="page-wrapper">
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        사용자 전체 현황  <small>(최근 7일동안의 일별 증감 수 그래프로 표현)</small>
                    </h1>
                </div>

            </div>

            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-search fa-fw"></i> KIC 조회기간</h3>
                        </div>
                        <div class="panel-body">
                            <form class="form-inline" role="form">
                                <label class="control-label">Start-Date :</label>
                                <input class="form-control"  id="kicStartDate" type="text" style="width:100px" th:readonly="true" />
                                <label class="control-label">~ End-Date :</label>
                                <input class="form-control"  id="kicEndDate" type="text" style="width:100px" th:readonly="true" />
                                <input onclick="reloadKIC()" type="button"  class="btn btn-primary " value="검색"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div id="totalUserByKIC">
                </div>
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-search fa-fw"></i> AIC 조회기간</h3>
                        </div>
                        <div class="panel-body">
                            <form class="form-inline" role="form">
                                <label class="control-label">Start-Date :</label>
                                <input class="form-control"  id="aicStartDate" type="text" style="width:100px" th:readonly="true" />
                                <label class="control-label">~ End-Date :</label>
                                <input class="form-control"  id="aicEndDate" type="text" style="width:100px" th:readonly="true" />
                                <input onclick="reloadAIC()" type="button"  class="btn btn-primary " value="검색"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div id="totalUserByAIC">
                </div>
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-search fa-fw"></i> EIC 조회기간</h3>
                        </div>
                        <div class="panel-body">
                            <form class="form-inline" role="form">
                                <label class="control-label">Start-Date :</label>
                                <input class="form-control"  id="eicStartDate" type="text" style="width:100px" th:readonly="true" />
                                <label class="control-label">~ End-Date :</label>
                                <input class="form-control"  id="eicEndDate" type="text" style="width:100px" th:readonly="true" />
                                <input onclick="reloadEIC()" type="button"  class="btn btn-primary " value="검색"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div id="totalUserByEIC">
                </div>
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> RUC 조회기간</h3>
                        </div>
                        <div class="panel-body">
                            <form class="form-inline" role="form">
                                <label class="control-label">Start-Date :</label>
                                <input class="form-control"  id="rucStartDate" type="text" style="width:100px" th:readonly="true" />
                                <label class="control-label">~ End-Date :</label>
                                <input class="form-control"  id="rucEndDate" type="text" style="width:100px" th:readonly="true" />
                                <input onclick="reloadRUC()" type="button"  class="btn btn-primary " value="검색"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">

                <div id="totalUserByRUC">
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

    <th:block>
        <script type="text/javascript" th:inline="javascript">
            /*<![CDATA[*/
            var g_start_date = [[${startDate}]];
            var g_end_date = [[${endDate}]];

            Chart.defaults.global.legend.display = false;

            $( document ).ready(function() {
                $('#kicStartDate').val(g_start_date);
                $('#kicEndDate').val(g_end_date);

                $('#aicStartDate').val(g_start_date);
                $('#aicEndDate').val(g_end_date);

                $('#eicStartDate').val(g_start_date);
                $('#eicEndDate').val(g_end_date);

                $('#rucStartDate').val(g_start_date);
                $('#rucEndDate').val(g_end_date);


                $("#totalUserByKIC").load("/web/admin/totalUserByRegion/totalUserByKIC?startDate="+g_start_date+"&endDate="+g_end_date,null, function() {
                    $("#totalUserByAIC").load("/web/admin/totalUserByRegion/totalUserByAIC?startDate="+g_start_date+"&endDate="+g_end_date,null, function() {
                        $("#totalUserByEIC").load("/web/admin/totalUserByRegion/totalUserByEIC?startDate="+g_start_date+"&endDate="+g_end_date,null, function() {
                            $("#totalUserByRUC").load("/web/admin/totalUserByRegion/totalUserByRUC?startDate="+g_start_date+"&endDate="+g_end_date,null, function() {

                            });
                        });
                    });
                });








                // datepicker 추가
                $('#kicStartDate').datepicker({
                    dateFormat: 'yymmdd',
                    changeYear: true,
                    changeMonth: true,
                    onSelect: function(dateText, inst) {
                        var toDate = $('#kicEndDate').val();
                        if(dateText > toDate){
                            $('#kicStartDate').val(g_start_date);
                        }
                    }
                });

                $('#kicEndDate').datepicker({
                    dateFormat: 'yymmdd',
                    changeYear: true,
                    changeMonth: true,
                    onSelect: function(dateText, inst) {
                        var fromDate = $('#kicStartDate').val();
                        if(dateText < fromDate){
                            $('#kicEndDate').val(g_end_date);
                        }
                    }
                });

                // datepicker 추가
                $('#aicStartDate').datepicker({
                    dateFormat: 'yymmdd',
                    changeYear: true,
                    changeMonth: true,
                    onSelect: function(dateText, inst) {
                        var toDate = $('#aicEndDate').val();
                        if(dateText > toDate){
                            $('#aicStartDate').val(g_start_date);
                        }
                    }
                });

                $('#aicEndDate').datepicker({
                    dateFormat: 'yymmdd',
                    changeYear: true,
                    changeMonth: true,
                    onSelect: function(dateText, inst) {
                        var fromDate = $('#aicStartDate').val();
                        if(dateText < fromDate){
                            $('#aicEndDate').val(g_end_date);
                        }
                    }
                });

                // datepicker 추가
                $('#eicStartDate').datepicker({
                    dateFormat: 'yymmdd',
                    changeYear: true,
                    changeMonth: true,
                    onSelect: function(dateText, inst) {
                        var toDate = $('#eicEndDate').val();
                        if(dateText > toDate){
                            $('#eicStartDate').val(g_start_date);
                        }
                    }
                });

                $('#eicEndDate').datepicker({
                    dateFormat: 'yymmdd',
                    changeYear: true,
                    changeMonth: true,
                    onSelect: function(dateText, inst) {
                        var fromDate = $('#eicStartDate').val();
                        if(dateText < fromDate){
                            $('#eicEndDate').val(g_end_date);
                        }
                    }
                });

                // datepicker 추가
                $('#rucStartDate').datepicker({
                    dateFormat: 'yymmdd',
                    changeYear: true,
                    changeMonth: true,
                    onSelect: function(dateText, inst) {
                        var toDate = $('#rucEndDate').val();
                        if(dateText > toDate){
                            $('#rucStartDate').val(g_start_date);
                        }
                    }
                });

                $('#rucEndDate').datepicker({
                    dateFormat: 'yymmdd',
                    changeYear: true,
                    changeMonth: true,
                    onSelect: function(dateText, inst) {
                        var fromDate = $('#rucStartDate').val();
                        if(dateText < fromDate){
                            $('#rucEndDate').val(g_end_date);
                        }
                    }
                });
            });

            function reloadKIC(){
                var start_date = $('#kicStartDate').val();
                var end_date = $('#kicEndDate').val();
                $("#totalUserByKIC").load("/web/admin/totalUserByRegion/totalUserByKIC?startDate="+start_date+"&endDate="+end_date,null, function() {});

            }

            function reloadAIC(){
                var start_date = $('#aicStartDate').val();
                var end_date = $('#aicEndDate').val();
                $("#totalUserByAIC").load("/web/admin/totalUserByRegion/totalUserByAIC?startDate="+start_date+"&endDate="+end_date,null, function() {});

            }

            function reloadEIC(){
                var start_date = $('#eicStartDate').val();
                var end_date = $('#eicEndDate').val();
                $("#totalUserByEIC").load("/web/admin/totalUserByRegion/totalUserByEIC?startDate="+start_date+"&endDate="+end_date,null, function() {});

            }

            function reloadRUC(){
                var start_date = $('#rucStartDate').val();
                var end_date = $('#rucEndDate').val();
                $("#totalUserByRUC").load("/web/admin/totalUserByRegion/totalUserByRUC?startDate="+start_date+"&endDate="+end_date,null, function() {});

            }

            /*]]>*/
        </script>

    </th:block>
</div>


</html>