<html xmlns= "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> KIC 그래프</h3>
        </div>
        <div class="panel-body" style="overflow: hidden;">
            <canvas id="kic-lineChart" height="310" width="500" ></canvas>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> KIC 전체 사용자 리스트</h3>
        </div>
        <div class="panel-body">
            <div id="kic-js-legend" class="chart-legend"></div>

        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> KIC Service 리스트</h3>
        </div>
        <div class="panel-body">
            <div id="kic-service-list"></div>

        </div>
    </div>
</div>
    <th:block>
        <script type="text/javascript" th:inline="javascript">
            /*<![CDATA[*/

            // to array
            var kic_temp_label = [[${kicLabel}]];
            var kic_label = new Array();
            for(var i = 0; i < kic_temp_label.split(",").length; i++){
                kic_label[i] = kic_temp_label.split(",")[i];
            }
            // to object
            var kic_datasets = eval("("+[[${kicDatasets}]]+")");
            var kic_service_list = JSON.parse([[${kicServiceList}]]);

            var kic_chart_view = false;

            // event
            var kic_more_btn = '<button id="kic_more_btn" onclick="kic_full_more_view()" type="button" class="btn btn-sm" style="width:100%;color: #fff;background-color:#62A0CA;"><span >더보기</span></button>';
            var kic_full_more_btn = '<button id="kic_full_more_btn" onclick="kic_more_view()"  type="button" class="btn btn-sm" style="width:100%;color: #fff;background-color:#62A0CA;"><span >줄이기</span></button>';
            var kic_legend_html = [];
            var kic_full_legend_html = [];

            var kic_service_more_btn = '<button id="kic_service_more_btn" onclick="kic_full_service_more_view()" type="button" class="btn btn-sm" style="width:100%;color: #fff;background-color:#62A0CA;"><span >더보기</span></button>';
            var kic_full_service_more_btn = '<button id="kic_full_service_more_btn" onclick="kic_service_more_view()"  type="button" class="btn btn-sm" style="width:100%;color: #fff;background-color:#62A0CA;"><span >줄이기</span></button>';
            var kic_service_html = [];
            var kic_full_service_html = [];


            generateServiceListKIC(kic_service_list);

            var kic_chart = new Chart(document.getElementById("kic-lineChart"), {
                type: 'line',
                data: {
                    labels: kic_label,
                    datasets: kic_datasets
                },
                options: {
                    title: {
                        display: true,
                        text: 'KIC - 전체 회원수'
                    },
                    legend: {
                        onClick: function(event, legendItem) {alert();}
                    },
                    scales: {
                        xAxes: [{
                            type: "time",
                            ticks: {
                                autoSkip: true,
                                maxTicksLimit: 7 },
                            time: {
                                unit: 'day',
                                round: 'day',
                                displayFormats: {
                                    day: 'MM-DD'
                                }
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                callback: function (value, index, values) {
                                    if(parseInt(value) == value)
                                        return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                },
                                // min : 0,
                                beginAtZero: true   // minimum value will be 0.
                            }
                        }]
                    },
                    legendCallback: function(chart) {
                        console.log(chart);
                        kic_legend_html.push('<table class="table table-bordered table-hover table-striped">');
                        kic_legend_html.push('<thead> <tr><th>No</th><th>Region</th><th>회원수</th></tr></thead>');
                        kic_legend_html.push('<tbody>');

                        kic_full_legend_html.push('<table class="table table-bordered table-hover table-striped">');
                        kic_full_legend_html.push('<thead> <tr><th>No</th><th>Region</th><th>회원수</th></tr></thead>');
                        kic_full_legend_html.push('<tbody>');

                        for (var i=0; i<chart.data.datasets.length; i++) {
                            var dataList = chart.data.datasets[i].data+"";
                            var lastData = dataList.split(",")[dataList.split(",").length-1];
                            // full
                            kic_full_legend_html.push('<tr>');
                            kic_full_legend_html.push('<td>' + (i+1) +'</td>');
                            kic_full_legend_html.push('<td class="chart-legend-label-text" onclick="updateDatasetKIC(event, ' + '\'' + chart.legend.legendItems[i].datasetIndex + '\'' + ')">'
                                + '<span style="display: inline-block;width:12px;height:12px;margin-right: 5px;background-color:'+ chart.data.datasets[i].backgroundColor + '"></span>'
                                + chart.data.datasets[i].label +'</td>');
                            kic_full_legend_html.push('<td align="right" class="chart-legend-label-text">'+lastData.format()+'</td>');
                            kic_full_legend_html.push('</tr>');

                            // limit
                            if(i < 10){
                                kic_legend_html.push('<tr>');
                                kic_legend_html.push('<td>' + (i+1) +'</td>');
                                kic_legend_html.push('<td class="chart-legend-label-text" onclick="updateDatasetKIC(event, ' + '\'' + chart.legend.legendItems[i].datasetIndex + '\'' + ')">'
                                    + '<span style="display: inline-block;width:12px;height:12px;margin-right: 5px;background-color:'+ chart.data.datasets[i].backgroundColor + '"></span>'
                                    + chart.data.datasets[i].label +'</td>');
                                kic_legend_html.push('<td align="right"  class="chart-legend-label-text">'+lastData.format()+'</td>');
                                kic_legend_html.push('</tr>');
                            }

                        }

                        kic_legend_html.push('</tbody>');
                        kic_legend_html.push('</table>');
                        kic_legend_html.push(kic_more_btn);

                        kic_full_legend_html.push('</tbody>');
                        kic_full_legend_html.push('</table>');
                        kic_full_legend_html.push(kic_full_more_btn);

                        return kic_legend_html.join("");
                    },
                    legend: {
                        display: false
                    }

                }
            });
            updateDatasetKIC = function(e, datasetIndex) {
                var index = datasetIndex;
                var ci = e.view.kic_chart;
                var meta = ci.getDatasetMeta(index);
                var dataLength = ci.data.datasets.length;

                if(!kic_chart_view){
                    for(var i = 0; i < dataLength; i++){
                        if(i == index){
                            ci.data.datasets[i].hidden = false;
                            continue;
                        }
                        ci.data.datasets[i].hidden = true;
                    }

                    kic_chart_view = true;
                }else{
                    for(var i = 0; i < dataLength; i++){
                        ci.data.datasets[i].hidden = false;

                    }
                    kic_chart_view = false;
                }
                ci.update();

            };

            document.getElementById('kic-js-legend').innerHTML = kic_chart.generateLegend();

            function kic_more_view(){ // 줄이기
                document.getElementById('kic-js-legend').innerHTML = kic_legend_html.join("");
            }

            function kic_full_more_view(){ // 더보기
                document.getElementById('kic-js-legend').innerHTML = kic_full_legend_html.join("");
            }

            function generateServiceListKIC(serviceList){

                kic_service_html.push('<table class="table table-bordered table-hover table-striped">');
                kic_service_html.push('<thead> <tr><th>No</th><th>Name</th><th>회원수</th></tr></thead>');
                kic_service_html.push('<tbody>');

                kic_full_service_html.push('<table class="table table-bordered table-hover table-striped">');
                kic_full_service_html.push('<thead> <tr><th>No</th><th>Name</th><th>회원수</th></tr></thead>');
                kic_full_service_html.push('<tbody>');

                for (var i=0; i< serviceList.length; i++) {
                    // full
                    kic_full_service_html.push('<tr>');
                    kic_full_service_html.push('<td>' + (i+1) +'</td>');
                    kic_full_service_html.push('<td class="chart-legend-label-text" >'

                        + serviceList[i].svcName +'</td>');
                    kic_full_service_html.push('<td align="right"  class="chart-legend-label-text">'+serviceList[i].tCnt.format()+'</td>');
                    kic_full_service_html.push('</tr>');

                    // limit
                    if(i < 10){
                        kic_service_html.push('<tr>');
                        kic_service_html.push('<td>' + (i+1) +'</td>');
                        kic_service_html.push('<td class="chart-legend-label-text" >'

                            + serviceList[i].svcName +'</td>');
                        kic_service_html.push('<td align="right"  class="chart-legend-label-text">'+serviceList[i].tCnt.format()+'</td>');
                        kic_service_html.push('</tr>');
                    }

                }

                kic_service_html.push('</tbody>');
                kic_service_html.push('</table>');
                kic_service_html.push(kic_service_more_btn);

                kic_full_service_html.push('</tbody>');
                kic_full_service_html.push('</table>');
                kic_full_service_html.push(kic_full_service_more_btn);

                document.getElementById('kic-service-list').innerHTML =  kic_service_html.join("");
            }

            function kic_service_more_view(){ // 줄이기
                document.getElementById('kic-service-list').innerHTML = kic_service_html.join("");
            }

            function kic_full_service_more_view(){ // 더보기
                document.getElementById('kic-service-list').innerHTML = kic_full_service_html.join("");
            }

            /*]]>*/
        </script>

    </th:block>
</html>