<html xmlns= "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div class="col-lg-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Tasks Panel</h3>
        </div>
        <div class="panel-body" style="overflow: hidden;">
            <canvas id="lineChart" height="205" width="500" ></canvas>
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i>Updated on 2017-03-21</h3>
        </div>
        <div class="panel-body">
            <div id="js-legend" class="chart-legend"></div>

        </div>
    </div>
</div>
    <th:block>
        <script type="text/javascript" th:inline="javascript">
            /*<![CDATA[*/

            // to array
            var temp_label = [[${kic_label}]];
            var v_label = new Array();
            for(var i = 0; i < temp_label.split(",").length; i++){
                v_label[i] = temp_label.split(",")[i];
            }
            // to object
            var v_datasets = eval("("+[[${kic_datasets}]]+")");


            var myChart = new Chart(document.getElementById("lineChart"), {
                type: 'line',
                data: {
                    labels: v_label,
                    datasets: v_datasets
                },
                options: {
                    title: {
                        display: true,
                        text: 'World population per region (in millions)'
                    },
                    legend: {
                        onClick: function(event, legendItem) {alert();}
                    },
                    scales: {
                        xAxes: [{
                            type: "time",
                            ticks: {
                                autoSkip: true,
                                maxTicksLimit: 7 },
                            time: {
                                unit: 'day',
                                round: 'day',
                                displayFormats: {
                                    day: 'MM-DD'
                                }
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                callback: function (value, index, values) {
                                    if(parseInt(value) == value)
                                        return value;
                                },
                                // min : 0,
                                beginAtZero: true   // minimum value will be 0.
                            }
                        }]
                    },
                    legendCallback: function(chart) {
                        console.log(chart);
                        var legendHtml = [];
                        legendHtml.push('<table class="table table-bordered table-hover table-striped">');
                        legendHtml.push('<thead> <tr><th>lable name</th><th>Current 회원수</th></tr></thead>');
                        legendHtml.push('<tbody>');

                        for (var i=0; i<chart.data.datasets.length; i++) {
                            var dataList = chart.data.datasets[i].data+"";
                            var lastData = dataList.split(",")[dataList.split(",").length-1];

                            legendHtml.push('<tr>');
                            legendHtml.push('<td class="chart-legend-label-text" onclick="updateDataset(event, ' + '\'' + chart.legend.legendItems[i].datasetIndex + '\'' + ')">'
                                + '<span style="display: inline-block;width:12px;height:12px;margin-right: 5px;background-color:'+ chart.data.datasets[i].backgroundColor + '"></span>'
                                + chart.data.datasets[i].label +'</td>');
                            legendHtml.push('<td class="chart-legend-label-text">'+lastData+'</td>');

                            legendHtml.push('</tr>');
                        }

                        legendHtml.push('</tbody>');
                        legendHtml.push('</table>');
                        return legendHtml.join("");
                    },
                    legend: {
                        display: false
                    }

                }
            });
            updateDataset = function(e, datasetIndex) {
                var index = datasetIndex;
                var ci = e.view.myChart;
                var meta = ci.getDatasetMeta(index);
                var dataLength = ci.data.datasets.length;

                if(!chartView){
                    for(var i = 0; i < dataLength; i++){
                        if(i == index){
                            ci.data.datasets[i].hidden = false;
                            continue;
                        }
                        ci.data.datasets[i].hidden = true;
                    }

                    chartView = true;
                }else{
                    for(var i = 0; i < dataLength; i++){
                        ci.data.datasets[i].hidden = false;

                    }
                    chartView = false;
                }
                ci.update();

                // See controller.isDatasetVisible comment
                // meta.hidden = meta.hidden === null? !ci.data.datasets[index].hidden : null;

                // We hid a dataset ... rerender the chart
                //ci.update();
            };
            //test

            document.getElementById('js-legend').innerHTML = myChart.generateLegend();

            /*]]>*/
        </script>

    </th:block>
</html>