<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.center.dashboard.mapper.DashBoardMapper">
    <select id="getTotalCntByDate" parameterType="String" resultType="totalDataVO" >
        <![CDATA[
            select sum(A.total_cnt) as totalCnt
                FROM (
                  SELECT sum(tcnt) AS total_cnt
                  FROM sbc_ruc_total_user
                  WHERE crt_date = #{date}
                  UNION ALL
                  SELECT sum(tcnt) AS total_cnt
                  FROM sbc_kic_total_user
                  WHERE crt_date = #{date}
                  UNION ALL
                  SELECT sum(tcnt) AS total_cnt
                  FROM sbc_eic_total_user
                  WHERE crt_date = #{date}
                  UNION ALL
                  SELECT sum(tcnt) AS total_cnt
                  FROM sbc_aic_total_user
                  WHERE crt_date = #{date}
                ) A;

        ]]>
    </select>
    <select id="getTotalUser_KIC" parameterType="String" resultType="totalUserVO" >
        <![CDATA[
            select crt_date as crtDate
                  ,cntry_code as cntryCode
                  ,cntry_name as cntryName
                  ,tcnt as tCnt
              from sbc_kic_total_user
             where crt_date >= #{startDate}
               and crt_date <= #{endDate}
          order by crtDate;

        ]]>
    </select>

    <select id="getCntryCode_KIC" parameterType="String" resultType="String" >
        <![CDATA[
            select cntry_code as cntryCode
              from sbc_kic_total_user
             where crt_date >= #{startDate}
               and crt_date <= #{endDate}
          GROUP BY cntry_code order by tcnt desc;

        ]]>
    </select>

    <select id="getCrtDate" parameterType="String" resultType="String" >
        <![CDATA[
              select ds as crtDate
                from sbc_date_table
               where ds >= #{startDate}
                 and ds <= #{endDate};
        ]]>
    </select>

    <select id="getTotalUser_AIC" parameterType="String" resultType="totalUserVO" >
        <![CDATA[
            select crt_date as crtDate
                  ,cntry_code as cntryCode
                  ,cntry_name as cntryName
                  ,tcnt as tCnt
              from sbc_aic_total_user
             where crt_date >= #{startDate}
               and crt_date <= #{endDate}
          order by crtDate;

        ]]>
    </select>

    <select id="getCntryCode_AIC" parameterType="String" resultType="String" >
        <![CDATA[
            select cntry_code as cntryCode
              from sbc_aic_total_user
             where crt_date >= #{startDate}
               and crt_date <= #{endDate}
          GROUP BY cntry_code order by tcnt desc;

        ]]>
    </select>

    <select id="getTotalUser_EIC" parameterType="String" resultType="totalUserVO" >
        <![CDATA[
            select crt_date as crtDate
                  ,cntry_code as cntryCode
                  ,cntry_name as cntryName
                  ,tcnt as tCnt
              from sbc_eic_total_user
             where crt_date >= #{startDate}
               and crt_date <= #{endDate}
          order by crtDate;

        ]]>
    </select>

    <select id="getCntryCode_EIC" parameterType="String" resultType="String" >
        <![CDATA[
            select cntry_code as cntryCode
              from sbc_eic_total_user
             where crt_date >= #{startDate}
               and crt_date <= #{endDate}
          GROUP BY cntry_code order by tcnt desc;

        ]]>
    </select>

    <select id="getTotalUser_RUC" parameterType="String" resultType="totalUserVO" >
        <![CDATA[
            select crt_date as crtDate
                  ,cntry_code as cntryCode
                  ,cntry_name as cntryName
                  ,tcnt as tCnt
              from sbc_ruc_total_user
             where crt_date >= #{startDate}
               and crt_date <= #{endDate}
          order by crtDate;

        ]]>
    </select>

    <select id="getCntryCode_RUC" parameterType="String" resultType="String" >
        <![CDATA[
            select cntry_code as cntryCode
              from sbc_ruc_total_user
             where crt_date >= #{startDate}
               and crt_date <= #{endDate}
          GROUP BY cntry_code order by tcnt desc;

        ]]>
    </select>

    <select id="getServiceList_KIC" parameterType="String" resultType="totalUserVO" >
        <![CDATA[
            select svc_code as svcCode
                  ,svc_name as svcName
                  ,sum(tcnt) as tCnt
              from sbc_kic_user
             where crt_date = #{date}
          group by svc_code
          order by tCnt desc;

        ]]>
    </select>

    <select id="getServiceList_AIC" parameterType="String" resultType="totalUserVO" >
        <![CDATA[
            select svc_code as svcCode
                  ,svc_name as svcName
                  ,sum(tcnt) as tCnt
              from sbc_aic_user
             where crt_date = #{date}
          group by svc_code
          order by tCnt desc;

        ]]>
    </select>

    <select id="getServiceList_EIC" parameterType="String" resultType="totalUserVO" >
        <![CDATA[
            select svc_code as svcCode
                  ,svc_name as svcName
                  ,sum(tcnt) as tCnt
              from sbc_eic_user
             where crt_date = #{date}
          group by svc_code
          order by tCnt desc;

        ]]>
    </select>

    <select id="getServiceList_RUC" parameterType="String" resultType="totalUserVO" >
        <![CDATA[
            select svc_code as svcCode
                  ,svc_name as svcName
                  ,sum(tcnt) as tCnt
              from sbc_ruc_user
             where crt_date = #{date}
          group by svc_code
          order by tCnt desc;

        ]]>
    </select>

    <select id="getAWSBillingTotalCost_CNS" parameterType="list" resultType="billingDataVO" >

            select total_date as totalDate
                  ,sum(total_cost) as totalCost
              from sbc_aws_account_billinginfo
             where total_date in
                     <foreach collection="dateList" item="item" separator=","
                              open="(" close=")">
                         #{item}
                     </foreach>
              group by total_date order by total_date DESC ;


    </select>

</mapper>