<html xmlns= "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<a th:href="@{totalFaultByRegion}" style="color: #494949;">
<div style="float:left;padding-left: 30px;width:250px;">
    <span class="glyphicon glyphicon-flag" style="font-size:160px;color:#c1c1c1;padding: 0px 0 0 10px;position: relative;"></span>
    <span style="font-size:40px;position: absolute;top:90px;left: 130px;"><th:block th:text="${faultDayDiff}"></th:block>일</span>
</div>
<span style="font-size:10px;padding: 0px 10 0 10px;"></span><br/>
<div style="display:inline-block;top:50px;">
    <span style="font-size:20px;padding: 0px 10 0 10px;"></span><br/>
    <span style="font-size:30px;padding: 0px 10 0 10px;">무장애 <th:block th:text="${faultDayDiff}"></th:block>일 째!</span><br/>
    <span style="font-size:15px;">시스템이 잘 관리되고 있습니다!</span>
</div>
<div class="list-group">
    <div class="col-lg-12" style="text-align: center;height: 50px;">
    </div>
</div>
    <div class="list-group">
        <div class="col-lg-12" style="text-align: center;height: 20px;">
        </div>
    </div>
</a>

</html>